@{
    ViewData["Title"] = "Danh mục";
}

<div class="page-navigation">
    <a asp-controller="Home" asp-action="Index">Trang chủ</a> >
    <a asp-controller="Category" asp-action="Index">Sách tiếng Việt</a>
</div>

<div class="category-all">
    <div class="category-list">
        <div class="category-list-title">DANH MỤC SẢN PHẨM</div>
        <div class="category-list-item">
            <a href="#">Sách kinh tế</a>
            <a href="#">Sách thiếu nhi</a>
            <a href="#">Sách kỹ năng sống</a>
            <a href="#">Sách Khoa Học - Kỹ Thuật</a>
            <a href="#">Sách Lịch sử</a>
            <a href="#">Điện Ảnh - Nhạc - Họa</a>
            <a href="#">Truyện Tranh, Manga, Comic</a>
            <a href="#">Sách Tôn Giáo - Tâm Linh</a>
        </div>
    </div>
    <div class="product">
        <div class="product-title">Sách tiếng Việt</div>

        <div class="product-sort">
            <div class="product-sort-new product-sort-active">
                Sách mới
            </div>
            <div class="product-sort-exp">
                Giá cao
            </div>
            <div class="product-sort-che">
                Giá thấp
            </div>
        </div>

        <div class="product-all">

            <div class="product-item">
                <div class="product-item-img">
                    <img src="/images/sanpham1.jpg">
                </div>
                <div class="product-item-title">
                    Thần chết làm thêm 300 yên/giờ
                </div>
                <div class="product-item-price">105.000 đ</div>
            </div>

            <div class="product-item">
                <div class="product-item-img">
                    <img src="/images/sanpham1.jpg">
                </div>
                <div class="product-item-title">
                    Thần chết làm thêm 300 yên/giờ
                </div>
                <div class="product-item-price">105.000 đ</div>
            </div>

            <div class="product-item">
                <div class="product-item-img">
                    <img src="/images/sanpham1.jpg">
                </div>
                <div class="product-item-title">
                    Thần chết làm thêm 300 yên/giờ
                </div>
                <div class="product-item-price">105.000 đ</div>
            </div>

            <div class="product-item">
                <div class="product-item-img">
                    <img src="/images/sanpham1.jpg">
                </div>
                <div class="product-item-title">
                    Thần chết làm thêm 300 yên/giờ
                </div>
                <div class="product-item-price">105.000 đ</div>
            </div>

            <div class="product-item">
                <div class="product-item-img">
                    <img src="/images/sanpham8.jpg">
                </div>
                <div class="product-item-title">
                    Thế giới Otome Game thật khắc nghiệt với nhân vật quần chúng - Tập 1
                </div>
                <div class="product-item-price">101.600 đ</div>
            </div>

            <div class="product-item">
                <div class="product-item-img">
                    <img src="/images/sanpham8.jpg">
                </div>
                <div class="product-item-title">
                    Thế giới Otome Game thật khắc nghiệt với nhân vật quần chúng - Tập 1
                </div>
                <div class="product-item-price">101.600 đ</div>
            </div>

            <div class="product-item">
                <div class="product-item-img">
                    <img src="/images/sanpham8.jpg">
                </div>
                <div class="product-item-title">
                    Thế giới Otome Game thật khắc nghiệt với nhân vật quần chúng - Tập 1
                </div>
                <div class="product-item-price">101.600 đ</div>
            </div>

            <div class="product-item">
                <div class="product-item-img">
                    <img src="/images/sanpham8.jpg">
                </div>
                <div class="product-item-title">
                    Thế giới Otome Game thật khắc nghiệt với nhân vật quần chúng - Tập 1
                </div>
                <div class="product-item-price">101.600 đ</div>
            </div>

            <div class="product-item">
                <div class="product-item-img">
                    <img src="/images/sanpham7.jpg">
                </div>
                <div class="product-item-title">
                    Hãy khiến tương lai biết ơn vì hiện tại bạn đã cố gắng hết mình
                </div>
                <div class="product-item-price">99.000 đ</div>
            </div>

            <div class="product-item">
                <div class="product-item-img">
                    <img src="/images/sanpham7.jpg">
                </div>
                <div class="product-item-title">
                    Hãy khiến tương lai biết ơn vì hiện tại bạn đã cố gắng hết mình
                </div>
                <div class="product-item-price">99.000 đ</div>
            </div>

            <div class="product-item">
                <div class="product-item-img">
                    <img src="/images/sanpham7.jpg">
                </div>
                <div class="product-item-title">
                    Hãy khiến tương lai biết ơn vì hiện tại bạn đã cố gắng hết mình
                </div>
                <div class="product-item-price">99.000 đ</div>
            </div>

            <div class="product-item">
                <div class="product-item-img">
                    <img src="/images/sanpham7.jpg">
                </div>
                <div class="product-item-title">
                    Hãy khiến tương lai biết ơn vì hiện tại bạn đã cố gắng hết mình
                </div>
                <div class="product-item-price">99.000 đ</div>
            </div>

            <div class="product-item">
                <div class="product-item-img">
                    <img src="/images/sanpham9.jpg">
                </div>
                <div class="product-item-title">
                    Một thoáng ta rực rỡ ở nhân gian
                </div>
                <div class="product-item-price">135.000 đ</div>
            </div>

            <div class="product-item">
                <div class="product-item-img">
                    <img src="/images/sanpham9.jpg">
                </div>
                <div class="product-item-title">
                    Một thoáng ta rực rỡ ở nhân gian
                </div>
                <div class="product-item-price">135.000 đ</div>
            </div>

            <div class="product-item">
                <div class="product-item-img">
                    <img src="/images/sanpham9.jpg">
                </div>
                <div class="product-item-title">
                    Một thoáng ta rực rỡ ở nhân gian
                </div>
                <div class="product-item-price">135.000 đ</div>
            </div>

            <div class="product-item">
                <div class="product-item-img">
                    <img src="/images/sanpham9.jpg">
                </div>
                <div class="product-item-title">
                    Một thoáng ta rực rỡ ở nhân gian
                </div>
                <div class="product-item-price">135.000 đ</div>
            </div>

            <div class="product-item">
                <div class="product-item-img">
                    <img src="/images/sanpham6.jpg">
                </div>
                <div class="product-item-title">
                    86 - Eightysix - Ep.5
                </div>
                <div class="product-item-price">145.000 đ</div>
            </div>

            <div class="product-item">
                <div class="product-item-img">
                    <img src="/images/sanpham6.jpg">
                </div>
                <div class="product-item-title">
                    86 - Eightysix - Ep.5
                </div>
                <div class="product-item-price">145.000 đ</div>
            </div>

            <div class="product-item">
                <div class="product-item-img">
                    <img src="/images/sanpham6.jpg">
                </div>
                <div class="product-item-title">
                    86 - Eightysix - Ep.5
                </div>
                <div class="product-item-price">145.000 đ</div>
            </div>

            <div class="product-item">
                <div class="product-item-img">
                    <img src="/images/sanpham6.jpg">
                </div>
                <div class="product-item-title">
                    86 - Eightysix - Ep.5
                </div>
                <div class="product-item-price">145.000 đ</div>
            </div>

        </div>

        <div class="product-pagination">
            <div>
                <a href="#"> <i class="fa-solid fa-chevron-left"></i> </a>
            </div>
            <div>
                <a href="#"> 1 </a>
            </div>
            <div>
                <a href="#"> 2 </a>
            </div>
            <div>
                <a href="#"> 3 </a>
            </div>
            <div>
                <a href="#"> 4 </a>
            </div>
            <div>
                <a href="#"> 5 </a>
            </div>
            <div>
                <a href="#"> <i class="fa-solid fa-chevron-right"></i> </a>
            </div>
        </div>
    </div>
</div>
